@import "@assets/style/theme.scss";

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.minimalist-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #333;
  color: #333;
  font-size: 1em;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.minimalist-button:hover {
  background-color: #333;
  color: #fff;
  border-color: #333;
}

.minimalist-select {
  font-size: 1.2rem;
  padding: 5px;
  border-radius: 5px;
}

.minimalist-select option {
  font-size: 1.2rem;
  color: #333;
  background-color: #fff;
}
